{#
/**
 * @file
 * Default theme implementation to present a competition_video entity.
 *
 * This template is used when viewing a registered competition_video's page,
 * e.g., /admin/content/competition-video)/123. 123 being the competition_video's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_competition_video()
 */
#}
<article{{ attributes }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</article>
